body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 18px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    font-size: 30px;
    color: #8f8d8d;
    padding: 10px;
    text-align: center;
}
.container {
   background-color: #2F3030;
   width: 450px;
   max-width: 450px;
   margin: auto;
   padding: 50px;
   border: 1px solid #695705;
   border-radius: 20px;
}

.top {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

#newTask {
    font-weight: bold;
    font-size: 15px;
    width: 300px;
    padding: 8px;
    background-color: #8f8d8d;
    border-radius: 10px;
    border: 1px solid white;
    outline: none;
    box-shadow: 0px 0px 3px white;
}

#newTask:hover {
    box-shadow: 0px 0px 6px white;
}

#btnAddTask {
    width: 35px;
    border-radius: 10px;
    border: 1px solid #a7a0a0;
    background-color: #a7a0a0;
    color: black;
    font-size: 15px;
    outline: none;
}

#btnAddTask:hover {
    background-color: #8f8d8d;
    border-radius: 12px;
    font-size: 18px;
    border: 1px solid #8f8d8d;
    color: #2F3030;
}

#list {
    width: 400px;
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: 390px;
    padding: 5px;
    background-color: #a7a0a0;
    border: 2px solid #695705;
    border-radius: 10px;
    margin-bottom: 10px;
}

li:hover {
    border: 2px solid white;
}

.btnDel {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: #2F3030;
    color: #a7a0a0;
    border: 1px solid #2F3030;
    font-size: 14px;
    outline: none;
}

.btnDel:hover {
    border: 1px solid white;
    font-size: 16px;
}

.done {
    background-color: #02870F;
    border: 2px solid white;
}